@font-face {
    font-family: Glacial;
    src: url("$fonts/GlacialIndifference-Regular.otf") format("opentype");
}
nav{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    font-family: Glacial;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}