@font-face{font-family:Quicksand;src:url(./fonts/Quicksand.ttf)}@font-face{font-family:Glacial;src:url(./fonts/Glacial.otf)}div.svelte-j942b{height:100%}.iframe.svelte-j942b{border:none;height:100vh}
